# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
build/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
lib/
log/
tmp/

# Editor/OS specific
.DS_Store
.vscode/
*.bak
